.header {
	position: sticky;
	top: 0;
}

.table-header {
	background-color: white;
	position: sticky;
	top: 0;
}

.figure-title {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.logo {
	position: absolute;
	left: 0;
	top: -2rem;
}
