.header {
	position: sticky;
	top: 0;
}

.table-header {
	background-color: white;
	position: sticky;
	top: 0;
}

.figure-title {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.logo {
	position: absolute;
	left: 0;
	top: 0rem;
	height: 80px;
	width: 80px;
}

.title-event {
	font-size: 1.5rem;
}

@media (min-width: 600px) {
	.logo {
		height: 200px;
		width: 200px;
		top: -2.5rem;
	}
	.title-event {
		font-size: xx-large;
	}
}
