.header {
	position: sticky;
	top: 0;
	background-color: white;
}

.table-header {
	background-color: white;
	position: sticky;
	top: 12rem;
}

.container-sm {
	background-color: white;
	padding-bottom: 1rem;
}

.table {
	-webkit-overflow-scrolling: touch;
}

.figure-title {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.logo {
	position: absolute;
	left: 0;
	top: 0rem;
	height: 80px;
	width: 80px;
	margin-top: 0.5rem;
}

.title-event {
	font-size: 1.5rem;
}

.modal-header__title {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
}

#modal-event-title {
	margin: auto;
}

.table {
	overflow: scroll;
}

@media (min-width: 600px) {
	.logo {
		height: 200px;
		width: 200px;
		top: -2.5rem;
		margin-top: 0;
	}
	.title-event {
		font-size: xx-large;
	}
}
